/* ===========
   Common
 =============*/
body {
  background: #ebebeb;
  margin: 0;
  color: #4c5667;
  overflow-x: hidden !important;
  font-family: "Roboto", sans-serif;
  font-size: 0.95rem;
}

html {
  overflow-x: hidden;
  position: relative;
  min-height: 100%;
  background: #ebebeb;
}


h3 {
  line-height: 30px;
}

* {
  outline: none !important;
}

a {
  color: #3f51b5;
}

a:hover, a:active, a:focus {
  outline: 0;
  text-decoration: none;
}

.header-title {
  text-transform: uppercase;
  font-size: 15px;
  font-weight: 700;
  line-height: 16px;
  margin-bottom: 8px;
  margin-top: 0;
}

.social-links li a {
  -webkit-border-radius: 50%;
  background: #EFF0F4;
  border-radius: 50%;
  color: #7A7676;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  text-align: center;
  width: 30px;
}


/* ===========
   Portlets
 =============*/
.portlet {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
          box-shadow: 0 1px 4px 0 rgba(0, 0, 0, 0.14);
  margin-bottom: 15px;
  -webkit-transition: all 0.4s;
  transition: all 0.4s;
}

.portlet .portlet-heading {
  border-radius: 3px;
  color: #ffffff;
  padding: 4px 20px 2px 10px;
}

.portlet .portlet-heading .portlet-title {
  color: #ffffff;
  float: left;
  font-size: 14px;
  font-weight: 60;
  margin-bottom: 0;
  margin-top: 0;
  text-transform: uppercase;
  letter-spacing: 0.03em;
}

.portlet .portlet-heading .portlet-widgets {
  display: inline-block;
  float: right;
  font-size: 12px;
  line-height: 30px;
  padding-left: 15px;
  position: relative;
  text-align: right;
}

.portlet .portlet-heading .portlet-widgets .divider {
  margin: 0 5px;
}

.portlet .portlet-heading a {
  color: #999999;
}

.portlet .portlet-body {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  background: #ffffff;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
}

.portlet-default .portlet-title {
  color: #797979 !important;
}

.portlet .portlet-heading .portlet-widgets .collapsed .ion-minus-round:before {
  content: "\f217" !important;
}

.panel-disabled {
  background: rgba(243, 242, 241, 0.5);
  cursor: progress;
  bottom: 15px;
  left: 0;
  position: absolute;
  right: -5px;
  top: 0;
}
