{% extends 'base.html' %}
{% load staticfiles %}
{% load static %}


<title>{% block title %} {% endblock %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">

{% block navbar %} {% endblock %}

{% block css %}

        <link href="{% static 'css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'css/icons.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/style.css' %}" rel="stylesheet" type="text/css">
        <link href="{% static 'css/simple-sidebar.css' %}" rel="stylesheet">
        <link href="{% static 'css/mkhplayer.css' %}" rel="stylesheet">

{% endblock %}

{% block content %}
    
    <div id="page-content-wrapper">
    <div id="forAudio">
        <audio autostart id="player" controlsList="nodownload" preload="metadata"  autoplay="true"  type="audio/mpeg" />
    </div>

        <div class="container-fluid">
                <div class="row"  id ="target_phone">

                </div>
        </div>
    </div>


{% endblock %}

{% block js_script %}
    <script src="{% static 'js/jquery.min.js'  %}"></script>
    <script src="{% static 'js/jquery.core.js'  %}"></script>
    <script src="{% static 'js/bootstrap.js'  %}"></script>
    <script src="{% static 'js/aes.js' %}"></script>
    <script src="{% static 'js/new.js' %}"></script>
    <script src="{% static 'js/jquery.mkhplayer.js' %}"></script>

    <script>
        $('audio').mkhPlayer();
    </script>
{% endblock %}

