{% extends 'base.html' %}

{% block navbar %}

  <li><a href="{% url 'blog:upload' %}">Основная</a></li>
  <li>{{ obj.data.name | cut:'json_data/' }}</li>

{% endblock %}


{% block content %}

<form method="post" action="{% url 'blog:upload-detail' obj.pk %}">
    {% csrf_token %}
<div class="jumbotron">
   <div class=" col-xs-offset-3 col-xs-6" role="alert" style="background: #a6e1ec; padding: 20px;border-radius: 10px">
       <h4 align="center">Выберите пользователи которых вы хотите открыть доступ : </h4>
        <div class="container" style="font-size: large;">
          <div class="row" >
              <div class="col-xs-offset-5">
              {{ form.perm_users }}


            <button type="submit" class="submit-btn btn btn-success">Сохранить</button>
    <a href="{% url 'blog:upload' %}" type="button" class="submit-btn btn btn-outline-primary">Отменить</a>
            </div>
              </div>
        </div>
</div>
    </div>
    </form>

{% endblock %}